@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Arèvalo 3114<br />
    Empalme Lobos, BA<br />
    <abbr title="Telèfono">Tel:</abbr>
    2227-15411774
</address>

<address>
    <strong>Soporte Tècnico:</strong> <a href="sergiodecavo@gmail.com">sergiodecavo@gmail.com</a><br />
    <strong>Marketing      :</strong> <a href="sergiodecavo@hotmail.com">sergiodecavo@hotmail.com</a>
</address>