@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Veterinaria 2021</h1>
    <p class="lead">EDI - 3º Año ISFD y T Nº43 - Lobos</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Ventas</h2>
        <p>
            Todo tipo de medicamentos en amplia variedad 
            de formas farmacèuticas y presentaciones.

        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Servicios</h2>
        <p>Mèdicos veterinarios, internaciòn, tratamientos, peluquerìa, bañado de mascotas, y mas...</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Stock</h2>
        <p>Permanente de las mas variadas medicinas y para todo tipo de animal.</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>